.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.live-component {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.map-container {
  width: 100%;
  height: 480px;
  margin-bottom: 2rem;
}