body {
  background-color: #fff;
  font-family: tahoma, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.live-component {
  border: 1px solid #403939;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}

.header {
  border-bottom: 1px solid #403939;
  color: #000;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.error-text {
  color: #8e0404;
  font-size: 1.25rem;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.map-container {
  height: 480px;
  margin-bottom: 2rem;
  width: 100%;
}
